body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav ul li a:hover {
  background-color: #555;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:hover {
  background-color: #f9f9f9;
}

table td {
  white-space: nowrap;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
 
}

.actions a {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

.actions a:hover {
  background-color: #555;
}

